* {
  margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  font-family: "Fredoka", sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2.5rem;
}

:root {
  --pad-default: 50px;
}

.container {
  width: 100%;
  max-width: 960px;
  min-width: 300px;
  margin: 0 auto;
}

.jumbotron {
  width: 100%;
  max-width: 1200px;
  min-width: 300px;
  border: 2px dashed red;
  margin: 0 auto;
  position: relative;
  top: var(--pad-default);
}

.col-container {
  width: 100%;
  max-width: calc(100% - 1em);
  padding: 2em 1em;
  margin: auto;
}

/* FLEX FLEX FLEX FLEX FLEX FLEX FLEX FLEX */
.flex-row {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.flex-col {
	display: flex;
  flex-direction: column;
  justify-content: center;
}

.just-between {
	justify-content: space-between;
}

.just-end {
	justify-content: end;
}

.col {
  flex-grow: 1;
}

.col-large {
  flex-grow: 2;
}

/* SECTIONS MEASURES SECTIONS MEASURES SECTIONS MEASURES */
.header-div {
  width: 100%;
  min-height: 50px;
  position: fixed;
  background-color: rgb(255, 229, 200);
  border: 2px solid black;
}

.footer-div {
  min-height: 300px;
  background-color: black;
}

.jumbo {
  min-height: 600px;
  padding: var(--pad-default) 0 0;
  background-color: rgb(166, 214, 255);
}

.section {
  min-height: 300px;
  padding: var(--pad-default) 0;
  border: 2px dashed blueviolet;
}

.pad-double {
  padding: calc(var(--pad-default) * 2) 0;
}

.pad-top-double {
  padding-top: calc(var(--pad-default) * 2);
}

/* CONTENT CONTENT CONTENT CONTENT CONTENT */
.jumbotron .col {
  height: 500px;
}

.plan {
  background-color: aquamarine;
}

.radio {
  padding: 30px 0;
}

.partner {
  height: 400px;
  background-color: aquamarine;
}

.business {
  height: 800px;
  background-color: aquamarine;
}

.clients {
  height: 300px;
  background-color: aquamarine;
}

.trial {
  height: 100px;
  background-color: aquamarine;
}

.faq {
  height: 400px;
  background-color: aquamarine;
}

/* TEST TEST TEST TEST TEST TEST */







.bor-red {
  border: 2px dashed red;
}