* {
  margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  font-family: "Fredoka", sans-serif;
  font-size: 16px;
}

main {
	
}

.container {
  width: 100%;
  max-width: 960px;
  min-width: 300px;
  margin: 0 auto;
}

/* FLEX FLEX FLEX FLEX FLEX FLEX FLEX FLEX */
.flex-row {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.flex-col {
	display: flex;
}

.just-between {
	justify-content: space-between;
}

.just-end {
	justify-content: end;
}

/* SECTIONS MEASURES SECTIONS MEASURES SECTIONS MEASURES */
.header-div {
  width: 100%;
  min-height: 60px;
  position: fixed;
  background-color: rgb(255, 229, 200);
  border: 2px solid black;
}

.footer-div {
  min-height: 300px;
  background-color: black;
}

.jumbo {
  min-height: 600px;
  padding: 60px;
  background-color: rgb(166, 214, 255);
}

.section {
  min-height: 300px;
  border: 2px dashed blueviolet;
}

/* CONTENT CONTENT CONTENT CONTENT CONTENT */