* {
  margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  font-family: "Fredoka", sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2.5rem;
}

:root {
  --pad-default: 50px;
}

.container {
  width: 100%;
  max-width: 960px;
  min-width: 300px;
  margin: 0 auto;
}

.jumbotron-container {
  width: 100%;
  max-width: 1100px;
  min-width: 300px;
  margin: 0 auto;
  position: relative;
  top: calc(var(--pad-default) * 2);
}

.footer-container {
  width: 100%;
  max-width: 1200px;
  min-width: 300px;
  min-height: 400px;
  border: 2px dashed red;
  margin: 0 auto;
}

.col-container {
  width: 100%;
  max-width: calc(100% - 1em);
  padding: 0 1em;
  margin: auto;
}

/* FLEX FLEX FLEX FLEX FLEX FLEX FLEX FLEX */
.flex-row {
	display: flex;
	align-items: center;
}

.flex-col {
	display: flex;
  flex-direction: column;
  justify-content: center;
}

.just-between {
	justify-content: space-between;
}

.just-around {
	justify-content: space-around;
}

.just-start {
  justify-content: start;
}

.just-end {
	justify-content: end;
}

.align-top {
  align-items: start;
}

.gap-med {
  gap: 2em;
}

.col {
  flex-grow: 1;
}

.col-large {
  flex-grow: 2;
}

.row {
  flex-grow: 1;
}

.row-larger {
  flex-grow: 3;
}

.jumbo-col-large {
  min-width: 800px;
}

/* SECTIONS MEASURES SECTIONS MEASURES SECTIONS MEASURES */
img {
  width: 100%;
  height: 100%;
}

.header-div {
  width: 100%;
  min-height: 50px;
  position: fixed;
  z-index: 1;
}

.footer-div {
  min-height: 300px;
  background-color: black;
}

.jumbo {
  min-height: 600px;
  padding: var(--pad-default) 0 0;
  background-color: rgb(166, 214, 255);
}

.section {
  min-height: 300px;
  padding: var(--pad-default) 0;
  border: 2px dashed blueviolet;
}

.pad-double {
  padding: calc(var(--pad-default) * 2) 0;
}

.pad-top-double {
  padding-top: calc(var(--pad-default) * 2);
}

.pad-top-quad {
  padding-top: calc(var(--pad-default) * 4);
}

/* CONTENT CONTENT CONTENT CONTENT CONTENT */
.navbar li {
  display: inline-block;
  vertical-align: middle;
}

.header-nav-left li {
  padding-left: 2em;
}

.header-nav-right li {
  padding-right: 2em;
}

.logo-dropbox {
  vertical-align: middle;
}



.button-big {
  padding: 0.8em 1em;
}

.jumbo-p {
  padding: 1em 0 1.5em;
}

.jumbo-span {
  padding: 1.5em 0;
}

.jumbo-img {
  padding-top: 1em;
  align-self: center;
}

.padding-bor {
  padding: 10px;
}

.plan {
  padding: 10px;
  background-color: aquamarine;
}

.radio {
  padding: 30px 0;
}

.block {
  display: block;
}

.pad-med {
  padding: 2em 2em;
}

.pad-med-top {
  padding: 2em 0;
}

.pad-med-side {
  padding: 0 2em;
}

.pad-small-bot {
  padding-bottom: 1em;
}

.pad-med-bot {
  padding-bottom: 2em;
}

.pad-top-small {
  padding-top: 1em;
}

.mar-med {
  margin: 2em 0;
}

.partner {
  padding: 10px;
  background-color: aquamarine;
}

.image {
  width: 300px;
}

.business {
  padding: 10px;
  background-color: aquamarine;
}

.business .col {
  height: 500px;
}

.clients {
  padding: 10px;
  background-color: aquamarine;
}

.clients .col {
  height: 300px;
}

.trial {
  height: 100px;
  background-color: aquamarine;
}

.faq {
  height: 400px;
  background-color: aquamarine;
}



/* footer .col {
  height: 400px;
} */

/* TEST TEST TEST TEST TEST TEST */







.bor-red {
  border: 2px dashed red;
}

.font-white {
  color: white;
}

.bg-white {
  background-color: rgb(255, 255, 255);
}
