* {
  margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

:root {
  --pad-default: 50px;
}

.container {
  width: 100%;
  max-width: 960px;
  min-width: 300px;
  margin: 0 auto;
}

.jumbotron-container {
  width: 100%;
  max-width: 1100px;
  min-width: 300px;
  margin: 0 auto;
  position: relative;
  top: calc(var(--pad-default) * 2);
}

.footer-container {
  width: 100%;
  max-width: 1200px;
  min-width: 300px;
  margin: 0 auto;
}

.col-container {
  width: 100%;
  max-width: calc(100% - 1em);
  padding: 0 1em;
  margin: auto;
}

/* FLEX FLEX FLEX - - - - - - - - - - */
.flex-row {
	display: flex;
	align-items: center;
}

.flex-col {
	display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.just-start {
  justify-content: start;
}

.just-center {
  justify-content: center;
}

.just-end {
	justify-content: end;
}

.just-between {
	justify-content: space-between;
}

.just-around {
	justify-content: space-around;
}

.align-start {
  align-items: start;
}

.align-end {
  align-items: end;
}

.gap-med {
  gap: 2em;
}

.col {
  flex-grow: 1;
}

.col-large {
  flex-grow: 2;
}

.row {
  flex-grow: 1;
}

.row-larger {
  flex-grow: 3;
}

.jumbo-col-large {
  min-width: 800px;
}

.clients-col-med {
  min-width: 400px;
}

.trial-col-med {
  min-width: calc(100% / 2.5);
}

/* SECTIONS MEASURES SECTIONS MEASURES SECTIONS MEASURES */
img {
  width: 100%;
  height: 100%;
}

.header-div {
  width: 100%;
  min-height: 50px;
  position: fixed;
  z-index: 1;
}

.footer-div {
  min-height: 300px;
  background-color: black;
}

.jumbo {
  min-height: 600px;
  padding: var(--pad-default) 0 0;
}



/* CONTENT CONTENT CONTENT CONTENT CONTENT */
.navbar li {
  display: inline-block;
  vertical-align: middle;
}

.header-nav-left li {
  padding-left: 2em;
}

.header-nav-right li {
  padding-right: 2em;
}

.logo-dropbox {
  vertical-align: middle;
}

.button-big {
  padding: 0.8em 1em;
}

.jumbo-p {
  padding: 1em 0 1.5em;
}

.jumbo-span {
  padding: 1.5em 0;
}

.jumbo-img {
  padding-top: 1em;
  align-self: center;
}

.padding-bor {
  padding: 10px;
}

.plan {
  padding: 10px;
}

.block {
  display: block;
}

/* PADDING BORDER MARGIN - - - - - - - - - - */
/* Padding - - - - - - - - - -*/
.pad-smaller {
  padding: 0.5em 0.5em;
}

.pad-small {
  padding: 1em 2em;
}

.pad-med {
  padding: 2em;
}

.pad-big {
  padding: 4em;
}

.pad-bigger {
  padding: 6em;
}

.pad-smaller-y {
  padding: 0.5em 0;
}

.pad-small-y {
  padding: 1em 0;
}

.pad-med-y {
  padding: 2em 0;
}

.pad-big-y {
  padding: 4em 0;
}

.pad-med-x {
  padding: 0 2em;
}

.pad-small-top {
  padding-top: 1em;
}

.pad-big-top {
  padding-top: 4em;
}

.pad-bigger-top {
  padding-top: 6em;
}

.pad-smaller-bot {
  padding-bottom: 0.5em;
}

.pad-small-bot {
  padding-bottom: 1em;
}

.pad-med-bot {
  padding-bottom: 2em;
}

.pad-big-bot {
  padding-bottom: 4em;
}

.pad-bigger-bot {
  padding-bottom: 6em;
}

.pad-double {
  padding: calc(var(--pad-default) * 2) 0;
}

.pad-top-double {
  padding-top: calc(var(--pad-default) * 2);
}

.pad-top-quad {
  padding-top: calc(var(--pad-default) * 4);
}

.pad-zero-x {
  padding-right: 0;
  padding-left: 0;
}

/* Border - - - - - - - - - - */
.bor-gray-bot {
  border-bottom: 2px solid rgb(206, 206, 206);
}

.bor-black-bot {
  border-bottom: 1px solid black;
}

.bor-gray {
  border: 2px solid rgb(206, 206, 206);
}

.bor-none {
  border: none;
}

/* Margin - - - - - - - - - - */
.mar-med {
  margin: 2em 0;
}

.mar-big {
  margin: 4em 0;
}

.mar-big-bot {
  margin-bottom: 4em;
}

.mar-med-right {
  margin-right: 2em;
}

.mar-big-right {
  margin-right: 4em;
}

.mar-big-top {
  margin-top: 4rem;
}

.mar-small-bot {
  margin-bottom: 1.5rem;
}



/* TEST TEST TEST - - - - - - - - - - */

.flex-grow {
  flex-grow: 1;
}

.basis-zero {
  flex-basis: 0;
}

.square {
  width: 50%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-50 {
  width: 50%;
  text-align: center;
  vertical-align: middle;
}

.icon {
  width: 14px;
  height: 14px;
  margin-right: 3px;
  flex-shrink: 0;
}

.icon-big {
  width: 45px;
  height: 45px;
  margin: 100px 0;
}

.radio {
  margin-right: 0.5em;
}

.image {
  width: 100%;
  height: 100%;
}

.header-button {
  padding: 0.5em 1.5em;
  color: white;
  background-color: rgb(0, 115, 255);
  border: none;
}


.bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}




.font-white {
  color: white;
}

.font-gray {
  color: rgb(176, 176, 176);
}

.bg-white {
  background-color: rgb(255, 255, 255);
}

.bg-lightblue {
  background-color: rgb(184, 222, 255);
}

.bg-green {
  background-color: rgb(123, 196, 123);
}

.bg-brown {
  background-color: rgb(150, 44, 44);
}

.bg-blue {
  background-color: rgb(0, 115, 255);
}

.bg-orangered {
  background-color: orangered;
}

.bg-red {
  background-color: rgb(241, 54, 54);
}

.bg-aqua {
  background-color: rgb(181, 249, 226);
}

.bg-darkblue {
  background-color: rgb(40, 40, 142);
}

.bg-yellow {
  background-color: yellow;
}






.partner-image {
  min-width: 500px;
}

.partner-info-container {
  padding: 4em 6em;
}

.business p {
  margin-top: 30px;
}
